# --- Backend (Python) ---
backend/virtualenv001/
backend/.env
backend/__pycache__/
*.pyc

# --- Frontend (Node/React) ---
frontend/node_modules/
frontend/my-project/.env
frontend/dist/
frontend/build/

# --- General ---
.DS_Store
